@font-face {
    font-family: Beth Ellen;
    src: url();
}

@font-face {
    font-family: Paprika;
    src: url();
}

@font-face {
    font-family: Annie Use Your Telescope;
    src: url();
}

@font-face {
    font-family: Tangerine;
    src: url();
}

.space-between {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.space-between2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.wordcloud {
    margin-bottom: 24px;
}

.emamcs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    height: 100%;
    top: 0;
}

body {
    margin: unset;
    background: black;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
    font-family: 'Paprika', sans-serif;

}

h1 {
    font-family: 'Annie Use Your Telescope', sans-serif;
    margin: unset;
    line-height: 100%;
}

.story-title{
   font-weight: bold;
   font-size: 60px;
}

.story{
    line-height: 175%;
}

.story2{
    line-height: 175%;
}

h2 {
    margin: unset;
    font-family: 'Tangerine', sans-serif;
    font-size: 150px;
    line-height: 100%;
}

p {
    margin-bottom: 0;
}

body.active {
    background-image: url('./assets/background2.png');
    background-size: cover;
}


.suicide-title {
    font-weight: bold;
    font-size: 550%;
    line-height: 100%;
    text-align: center;
    font-family: 'Beth Ellen', sans-serif;
}

.suicide-text {
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    font-family: 'Beth Ellen', sans-serif;
}

.text {
    font-weight: bold;
    font-size: 28px;
    color: #333;
    z-index: -1;
}


img {
    object-fit: contain;
    height: auto;
    width: 100%;
    border-radius: 32px;
}

.left {
    left: 24px;
    text-align: left;
}

.right {
    right: 24px;
    text-align: right;
}

.grayscale {
    filter: grayscale(100%);
}

.top {
    top: 12px;
}

.bottom {
    bottom: 7rem;
}

.top-middle {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 40px;
    font-weight: bold;
    font-size: 200%;
}

.bottom-middle {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 40px;
}

.container {
    position: absolute;
    width: 32%;
}

.spotlight-container {
    position: relative;
}

.wrapper.active .shadow {
    position: absolute;
    width: 200vw;
    height: 200vh;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: background 0.3s ease; /* Add a smooth transition effect */
    z-index: 0;
    background: radial-gradient(circle at center, transparent 8%, black 13%);
}

.wrapper.active {
    display: flex;
}

.wrapper {
    display: none;
}

.image.left {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

canvas {
    z-index: 99;
    border-radius: 50%;
    box-shadow: 0 0 13px 5px rgba(255, 255, 255, 50.0);
    outline: none;
}

.images {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    filter: grayscale(100%);
    width: 45%;
    height: auto;
}