@font-face {
    font-family: Beth Ellen;
    src: url();
}
@font-face {
    font-family: Paprika;
    src: url();
}

body {
    margin: unset;
    background: black;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
    font-family: 'Paprika', sans-serif;

}
h1 {
    font-family: 'Beth Ellen', sans-serif;
    margin: unset;
    line-height: 120%;
}

h2 {
    margin: unset;
}
p {
    line-height: 160%;
}

body.active {
    background: white;
}


.suicide-title {
    font-weight: bold;
    font-size: 300%;
    line-height: 100%;
    font-family: 'Beth Ellen', sans-serif;
}

.suicide-text {
    font-weight: bold;
    font-size: 200%;
    font-family: 'Beth Ellen', sans-serif;
}

.text {
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    z-index: -1;
}

.image {
    position: absolute;
}

.image,img {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 32px;
    filter: grayscale(100%);
}

.left {
    left: 24px;
    text-align: left;
}
.right {
    right: 24px;
    text-align: right;
}

.top {
    top: 12px;
}

.bottom {
    bottom: 12px;
}

.top-middle {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 100px;
    font-weight: bold;
    font-size: 200%;
}
.bottom-middle {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 0;
}

.container {
    width: 32%;
}

.spotlight-container {
    position: relative;
  }


.wrapper.active .shadow {
    position: absolute;
    width: 200vw;
    height: 200vh;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: background 0.3s ease; /* Add a smooth transition effect */
    z-index: 0;
    background: radial-gradient(circle at center, transparent 13%, black 16%);
  }

.wrapper.active {
    display: flex;
}

.wrapper {
    display: none;
}

canvas {
    z-index: 99;
    border-radius: 50%;
    box-shadow: 0 0 13px 5px rgba(255, 255, 255, 50.0);
    outline: none;
} 